@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&family=Red+Hat+Display:wght@400;500;700;900&family=Dancing+Script:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Red Hat Display", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply text-[#303030] bg-white;
}

.font-serif-site {
  font-family: "Libre Caslon Display", serif;
}

.font-script {
  font-family: "Dancing Script", cursive;
}

/* Custom transitions and refinements */
.container {
  @apply max-w-7xl mx-auto px-4;
}

h1,
h2,
h3,
h4 {
  @apply font-serif-site tracking-normal;
}

::selection {
  @apply bg-[#BC6F65] text-white;
}
